{% extends 'ability/ability_1.html' %}

{% block left_top %}
    <h1 class="top">新闻中心</h1>
{% endblock %}

{% block left_in %}
    <h1><a class="a_on" href="/news/1">单位新闻</a></h1>
    <h1><a class="a_on" href="/news/2">行业新闻</a></h1>
    <h1><a class="a_on" href="/news/3">图片新闻</a></h1>
    <h1><a class="a_on" href="/news/4">文化建设</a></h1>
{% endblock %}

{% block title_phone %}
    <p style="text-indent:2em;"align="left"><span style="text-indent:2em;"align="left">投诉电话: 0558-7687628</span></p>
    <p style="text-indent:2em;"align="left"><span style="text-indent:2em;"align="left">业务联系电话: 18305697729</span></p>
    <p style="text-indent:2em;"align="left"><span style="text-indent:2em;"align="left">力学、几何：19159666503</span></p>
    <p style="text-indent:2em;"align="left"><span style="text-indent:2em;"align="left">理化: 18709888294</span></p>
{% endblock %}

{% block right_head %}
    <h1>单位新闻</h1>
{% endblock %}

{% block wz %}
        您现在的位置:
        <span>
            <a href="">>首页</a>
            <a href="">>新闻中心</a>
            <span>>单位新闻</span>
        </span>
    {% endblock %}


{% block right_on %}
    <a href="">单位新闻</a>
{% endblock %}