{% extends 'temp1.html' %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="../../static/js/favicon.ico" />
    <title>安徽省恒信检验检测有限公司</title>
    <meta name="keywords" content="安徽省恒信检验检测有限公司" />
    <meta name="Description" content="安徽省恒信检验检测有限公司" />
    <script type="text/javascript" src="../../static/js/Moving_Icon/jquery.js"></script>
    <script type="text/javascript" src="../../static/js/tools.js"></script>
    <link href="../../static/css/index.css" rel="stylesheet" type="text/css">
{% endblock head%}