{% extends 'ability/ability_1.html' %}

{% block left_top %}
    <h1 class="top">计量服务</h1>
{% endblock %}

{% block left_in %}
    <h1><a class="a_on" href="/serve/1">客户专区</a></h1>
    <h1><a class="a_on" href="/serve/2">通知公告</a></h1>
    <h1><a class="a_on" href="/serve/3">表格下载</a></h1>
{% endblock %}

{% block title_phone %}
    <p style="text-indent:2em;"align="left"><span style="text-indent:2em;"align="left">投诉电话: 0558-7687628</span></p>
    <p style="text-indent:2em;"align="left"><span style="text-indent:2em;"align="left">业务联系电话: 18305697729</span></p>
    <p style="text-indent:2em;"align="left"><span style="text-indent:2em;"align="left">力学、几何：19159666503</span></p>
    <p style="text-indent:2em;"align="left"><span style="text-indent:2em;"align="left">理化: 18709888294</span></p>
{% endblock %}

{% block right_head %}
    <h1><a class="b_on" >客户专区</a></h1>
{% endblock %}

{% block wz %}
        您现在的位置:
        <span>
            <a href="{% url 'index' %}">>首页</a>
            <a href="">>计量服务</a>
            <span>>客户专区</span>
        </span>
    {% endblock %}


{% block right_on %}
    <a href="">客户专区</a>
{% endblock %}