{% extends 'exchange/exchange_1.html' %}

{% block left_top %}
   <h1 class="top">在线交流</h1>
{% endblock %}

{% block right_head %}
    <h1><a class="b_on" >意见反馈</a></h1>
{% endblock %}

{% block wz %}
    您现在的位置:
    <span>
        <a href="{% url 'index' %}">>首页</a>
        <a href="">>在线交流</a>
        <span>>意见反馈</span>
    </span>
{% endblock %}

{% block right_on %}
    <div class="yjfk">

    {% for k in items %}
	    <div class="fkauthor"><span class="zuozhe">姓名：{{ k.fkauthor.username }}</span><span class="fbtime">{{ items.datatime }}</span>
        </div>

        <div class="zhuti">
            <h2>主题：{{ k.motif }}</h2>
            <p>{{ k.details }}</p>
        </div>

	    <div class="lyhf"><em>回复：</em>{{ k.restore }}
        </div>
    {% endfor %}

	</div>
{% endblock %}