{% extends 'ability/ability_1.html' %}

{% block left_top %}
    <h1 class="top">在线交流</h1>
{% endblock %}

{% block left_in %}
    <h1><a class="a_on" href="/exchange/1">联系电话</a></h1>
    <h1><a class="a_on" href="/exchange/2">意见反馈</a></h1>
    <h1><a class="a_on" href="/exchange/3">监督举报</a></h1>
    <h1><a class="a_on" href="/exchange/4">联系方式</a></h1>
{% endblock %}

{% block title_phone %}
    <p style="text-indent:2em;"align="left"><span style="text-indent:2em;"align="left">投诉电话: 0558-7687628</span></p>
    <p style="text-indent:2em;"align="left"><span style="text-indent:2em;"align="left">业务联系电话: 18305697729</span></p>
    <p style="text-indent:2em;"align="left"><span style="text-indent:2em;"align="left">力学、几何：19159666503</span></p>
    <p style="text-indent:2em;"align="left"><span style="text-indent:2em;"align="left">理化: 18709888294</span></p>
{% endblock %}

{% block right_head %}
    <h1><a class="b_on" >联系电话</a></h1>
{% endblock %}

{% block wz %}
        您现在的位置:
        <span>
            <a href="">>首页</a>
            <a href="">>在线交流</a>
            <span>>联系电话</span>
        </span>
    {% endblock %}


{% block right_on %}
    <a href="">联系电话</a>
{% endblock %}