{% extends 'exchange/exchange_1.html' %}

{% block head %}
    <link href="../../static/css/yhfk.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<body onLoad="goPage(1,3);">
{% endblock %}

{% block left_top %}
   <h1 class="top">在线交流</h1>
{% endblock %}

{% block right_head %}
    <h1><a class="b_on" >意见反馈</a></h1>
{% endblock %}

{% block wz %}
    您现在的位置:
    <span>
        <a href="{% url 'index' %}">>首页</a>
        <a href="">>在线交流</a>
        <span>>意见反馈</span>
    </span>
{% endblock %}

{% block right_on %}
    {% for k in items %}
        <div class="yjfk">
            <div class="fkauthor">
                <span class="zuozhe">姓名：{{ k.fkauthor.username }}</span>
                <span class="fbtime">[{{ k.datatimes }}]</span>
            </div>

            <div class="zhuti">
                <h2>主题：{{ k.fkmotif }}</h2>
                <p>{{ k.fkdetails }}</p>
            </div>

            <div class="lyhf"><em>回复：</em>{{ k.restore }}
            </div>
        </div>
    {% endfor %}
    <table width="60%" align="right">
        <tr><td><div id="barcon" name="barcon"></div></td></tr>
    </table>

{% endblock %}

{% block right_form %}
        <div class="tab">
		<div class="tabt"><h2>发表留言</h2><span>带 <em>*</em> 为必填项</span></div>
				<form id="whir_17" action="{% url 'exchangeform' %}" method="POST">
                    {% csrf_token %}
		            <table class="" cellspacing="0" cellpadding="0" width="90%" align="center" border="0">
                        <tbody>
                            <tr>
                                <td height="39" align="right">
                                    &nbsp;&nbsp;&nbsp;&nbsp;姓名：&nbsp;
                                </td>
                                <td>
                                    <input id="" class="input_ly" maxlength="512" name="fkauthor"> <span class="f_red">*</span><span errmsg="姓名验证不通过" regexp="" requiredmsg="姓名为必填" required="True" ></span>
                                </td>
                            </tr>
                            <tr>
                                <td height="39" align="right">
                                    来自哪里:&nbsp;
                                </td>
                                <td>
                                    <input id="" class="input_ly" maxlength="250" name="fkwhere"> <span errmsg="来自哪里验证不通过" regexp="" requiredmsg="来自哪里为必填" required="False" ></span>
                                </td>
                            </tr>
                            <tr>
                                <td height="39" align="right">
                                    &nbsp;&nbsp;E_mail：&nbsp;
                                </td>
                                <td>
                                    <input id="" class="input_ly" maxlength="250" name="fkemail"> <span errmsg="电子邮箱验证不通过" regexp="^\w+([-+.]\w+)*@\w+([-.]\\w+)*\.\w+([-.]\w+)*$" requiredmsg="电子邮箱为必填" required="False" validatorfor="17864" name="whirValidator"></span>
                                </td>
                            </tr>
                            <tr>
                                <td height="39" align="right">
                                    &nbsp;&nbsp;&nbsp;&nbsp;主题：&nbsp;
                                </td>
                                <td>
                                    <input id="17866" class="input_ly" maxlength="250" name="fkmotif"> <span class="f_red">*</span><span errmsg="主题验证不通过" regexp="" requiredmsg="主题为必填" required="True" validatorfor="17866" name="whirValidator"></span>
                                </td>
                            </tr>
                            <tr>
                                <td height="39" align="right">
                                    留言内容：
                                </td>
                                <td>
                                    <textarea onkeyup="LimitMaxLength(this)" onblur="LimitMaxLength(this)" id="17867" class="input_ly" style="border-top:#d7d7d7 1px solid;height:199px;border-right:#d7d7d7 1px solid;border-bottom:#d7d7d7 1px solid;border-left:#d7d7d7 1px solid;width:404px;" maxlength="1024" name="fkdetails" onpropertychange="LimitMaxLength(this)"></textarea> <span errmsg="留言内容验证不通过" regexp="" requiredmsg="留言内容为必填" required="True" validatorfor="17867" name="whirValidator"></span>
                                </td>
                            </tr>
                            <tr>
                                <td height="39" align="right">
                                    验证码：
                                </td>

                            </tr>
                            <tr>
                                <td height="39">
                                    &nbsp;
                                </td>
                                <td>
                                    <input class="btn3" type="submit" value="">
                                    <input class="btn4" type="submit" value="">
                                </td>
                            </tr>
                        </tbody>
                    </table>
	            </form>
	<script type="text/javascript">
		//限制textArea的长度
		function LimitMaxLength(obj){
			 var leng= obj.value.length;
			 var len=parseInt($(obj).attr('maxlength'));
			 if(leng>len){
				 obj.value=obj.value.substr(0,len);
			 }
		 }
	</script>
			  </div>
{% endblock %}


