@charset "utf-8";

body{margin: auto;font-size:12px;color:#333; background:#fff; font-family:Tahoma,Geneva,sans-serif,'宋体'; min-width:1002px; background:#FFFFFF url(../images/background/1.jpg) repeat-x;/*background:url(../images/bodybg.jpg) repeat;*/}

#header{
    width:100%;
    height:184px;
    background:url(../images/head.jpg) repeat-x;
}
/* 顶部 */
.top{
    width:1002px;
    height:26px;
    margin:0 auto;
}
.time{
    width:225px;
    height:26px;
    line-height:26px;
    font-size:12px;
    color:#fff;
    float:left;
}
/* 搜索 */
.search{
    width: 100%;
    height:104px;
    margin:0 auto;
}
.logo{ width:400px; height:90px; float:left;margin-left:100px;}
.searchbox{width:198px;height:28px;background:url(../images/input.jpg) no-repeat;float: left;margin-left:490px;margin-top:38px;}
.input1{ width:152px; height:25px; float:left; border:0px; padding-left:10px; background:none; color:#cfcfcf;}.btn{ margin-top:1px;}
.btn2{ float:left; margin-right:10px;}


/* 首页导航 */
.nav{width:1002px; height:54px; margin:0 auto;}
.nav li{ position:relative;padding:0px 35px; height:54px; line-height:54px; float:left; text-align:center; font-family:"微软雅黑"; font-size:16px; background:url(../images/line.jpg) right center no-repeat;z-index:99;list-style: none;}
.nav li a{ display:block; line-height:54px; color:#0352a1;text-decoration:none;}
.navmenu li a:hover{ color:#000;}
.nav li.nobg{ background:none;}

.navmenu .subNav { position:absolute; top:42px; left:0px; width:135px; background:#023A73; display:none; }
.navmenu .subNav ul { float:none; height:auto; }
.navmenu .subNav ul li { width:135px; height:36px; line-height:36px; float:left; height:auto; padding:0; background:none; font-family:\5b8b\4f53; font-size:12px; font-weight:100; text-align:center; }
.navmenu .subNav ul li a { display:block; width:135px; line-height:36px;height:auto; color:#fff; margin-left:-40px}
.navmenu .subNav ul li a:hover { background:#fff; color:#0352a1; }

.mainbox{
    width:1002px;
    display:block;
    overflow:hidden;
    margin:0 auto;
    background:#FFF;
}/*2021-12-22*/

.nybanner{ width:1000px; height:144px;margin:0px auto 10px;}
.nybanner img{margin-top: -12px;}
/*中部左侧放导航*/
#left{float:left;margin-left:157px;width:228px; display:block;margin-bottom: 20px;}

.left_on{ display:block;  margin:0px auto 0px; overflow:hidden; padding-bottom:20px; background:#fff; border:1px solid #e7e7e7; border-top:1px solid #0151a1; }
.left_on .in{ width:172px; display:block;  margin:20px auto 0px; overflow:hidden; padding-bottom:20px; }
.left_on .titlei{ height:35px; line-height:35px; background:url(../images/shading/libg.jpg) repeat-x;}
.left_on .titlei h1{ font-family:"微软雅黑"; width:228px;font-size:16px; text-align:center; color:#004992;}
.left_on h1{ margin:0;padding: 0;width:170px; height:29px; line-height:29px;  font-family:"微软雅黑";}
.left_on h1 a{ display:block; width:170px; text-align:center; font-size:12px; color:#666;}
.left_on h1 a:hover,.left_on h1 a.on{ background:url(../images/shading/mbg.jpg) repeat-x; border:1px solid #dedede;  color:#ff7e00;}

.left_in{margin-top:10px;background:#006cff5e;width:228px;height:230px}
.left_in .title{ height:35px; line-height:35px; background:url(../images/shading/t1.jpg) repeat-x;}
.left_in .title h1{ font-size:16px; color:#004b96; line-height:35px; float:left; font-family:"微软雅黑"; padding:0px 18px;}
.left_in .title a{ float:right; padding-right:7px; color:#565656;}
.left_in .on{ width:208px; line-height:25px; text-align:left; padding:10px; color:#565656;}

/*中部右侧放文本*/
#right{float:left;width:760px;height:auto;margin-left:10px;}

.right_head{height:35px; line-height:35px; background:url(../images/t1.jpg) repeat-x; font-family:"微软雅黑";}
.right_head div{margin:0;padding:0;}
.right_head h1 {margin: 0px;padding:0px 20px; float:left; color:#0056ab; font-size:16px;}
.right_head .b_on{color:#0056ab;}
.right_head a{color:#949494;}.position a:hover{color:#016bb2;}
.right_head .wz{ height:19px; line-height:19px; display:block; overflow:hidden; float:right; color:#949494; padding-right:15px; margin-top:8px;}
.right_head .wz span{ color:#949494;}

.right_in{float:left;background: white;width:760px;height: auto;margin-bottom: 20px;}
.yjfk{ width:731px; display:block; overflow:hidden; margin:0px auto 20px;}
.fkauthor{ height:35px; line-height:35px; background:#f2f2f2; line-height:35px; border-top:2px solid #76a6c7; border-bottom:1px solid #eaeaea; margin-top:20px;}
.fkauthor span.zuozhe{ font-size:14px; color:#666666; padding-left:14px; padding-right:12px;}
.fkauthor span.fbtime{ font-size:12px; color:#a1a1a1;}
.zhuti{ padding:12px; }
.zhuti h2{line-height:30px; font-size:15px; font-style:normal;color:#666666; font-family:"微软雅黑";}
.yjfk p{ font-size:13px; color:#666666; font-family:"微软雅黑"; line-height:20px; margin:0px; text-indent:2em; line-height:20px;}
.lyhf{ width:707px; padding:0px 12px; background:#f2f2f2; display:block; overflow:hidden; font-size:13px; color:#666; line-height:30px; font-family:"微软雅黑"; }
.lyhf em{ color:#ca2716;font-style:normal;}


.connews{line-height:26px; font-size:14px; padding:30px 30px 25px 30px; color:#555555;}
.connews p{ text-indent:2em;}


/* 底部 */
#footer {
    position: relative;
    border-top:2px;
    margin-top: -0px;/*等于footer的高度*/
    height: 100px;
    clear:both;
    background: #f1f1f1;
    }
.fnav{ text-align:center; line-height:30px; padding-top:10px;} .fnav a{ color:#565656;}
.copyright{ width:1002px; height:25px; line-height:25px; font-size:12px; color:#565656; text-align:center; margin:0 auto;}

